body {
    background-color: rgb(10, 13, 15);
    overflow: hidden;
}


.row {
    align-items: center;
    margin-top: 10px;

}
button {
    height: 240px;
    width: 180px;
    border-radius: 16px;
    margin: 100px 20px 50px;
    
}

#lightOff {
background-color: rgb(68, 66, 56);
color: white;
}

#lightOn {
    background-color:  #E0BE27;
}
#lightDim {
    background-color: #917B19;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #f5b938;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 50px;
    height: 50px;
    background: #4CAF50;
    cursor: pointer;
  }



  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-room {
  position: absolute;
  cursor: pointer;
  opacity: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(175, 64, 64);
  
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-room:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  
  -webkit-transition-duration: 1;
  transition-duration: 1;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.265, 4);
  /*-webkit-transition: .4s;*/
  transition: .4s;
}

input:checked + .slider-room {
  background-color: #2196F3;
}

input:focus + .slider-room {
  box-shadow: 0 0 1px #2196F3;
}

/*
input:checked + .slider-room:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
*/


input:checked + .slider-room:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  
}

/* Rounded sliders */
.slider-room.round {
  border-radius: 34px;
}

.slider-room.round:before {
  border-radius: 50%;
}

#room-name {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 30px;
  color: rgb(226, 226, 226);
  text-shadow: #3f3f3f;
  
  justify-content: center;
}


#floorplan {
  fill: transparent;
  stroke-width: 5px;
  
}